# Temporary and binary files
*~
*.py[cod]
*.so
*.cfg
!.isort.cfg
!setup.cfg
*.orig
*.log
*.pot
__pycache__/*
.cache/*
.*.swp
*/.ipynb_checkpoints/*
.DS_Store

# Project files
.ropeproject
.project
.pydevproject
.settings
.idea
.vscode
tags

# Package files
*.egg
*.eggs/
.installed.cfg


# User-added gitignore (above is from pyscaffold)
data_mgmt/
#*.xlsx
examples/old/
tmp/
venv/
NOTES.md
*credentials.json
notebooks/dev/core-measure-projects.yaml