[submodule "jcoin_hubs/chestnut"]
	path = jcoin_hubs/chestnut
	url = ssh://git@rcg-git.uchicago.edu:443/maarc/dasc/hubs/chestnut.git
[submodule "jcoin_hubs/new-york-university"]
	path = jcoin_hubs/new-york-university
	url = ssh://git@rcg-git.uchicago.edu:443/maarc/dasc/hubs/new-york-university.git
[submodule "jcoin_hubs/yale-hiv"]
	path = jcoin_hubs/yale-hiv
	url = ssh://git@rcg-git.uchicago.edu:443/maarc/dasc/hubs/yale-hiv.git
[submodule "jcoin_hubs/yale"]
	path = jcoin_hubs/yale
	url = ssh://git@rcg-git.uchicago.edu:443/maarc/dasc/hubs/yale.git
[submodule "jcoin_hubs/indiana-university"]
	path = jcoin_hubs/indiana-university
	url = ssh://git@rcg-git.uchicago.edu:443/maarc/dasc/hubs/indiana-university.git
[submodule "jcoin_hubs/brown-university"]
	path = jcoin_hubs/brown-university
	url = ssh://git@rcg-git.uchicago.edu:443/maarc/dasc/hubs/brown-university.git
[submodule "jcoin_hubs/university-of-kentucky"]
	path = jcoin_hubs/university-of-kentucky
	url = ssh://git@rcg-git.uchicago.edu:443/maarc/dasc/hubs/university-of-kentucky.git
